{% extends 'layout.html' %}
{% block content %}
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <style>
        table{
        width:100%;

        }
        p{
        text-align:center;
        }

        table, th, td{
        border: 1px solid black;
  border-collapse: collapse;
        }

    </style>
</head>








<table >
    <tr>
        <th>ID</th>
                    <th>Fullname</th>
                    <th>Department</th>

        <th>Role</th>

<th>Salary</th>
<th>Email</th>
        <th>Phone number</th>


    </tr>


    {%for employee in employees %}
    <tr>
        <td>{{employee.id}}</td>
       <td>{{employee.fullname}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.role}}</td>


        <td>{{employee.salary}}</td>


         <td>{{employee.email}}</td>

 <td>{{employee.number}}</td>

    </tr>






                    {% endfor %}
</table>






{% endblock %}
